{% block subject %}Merci pour votre inscription{% endblock %}

{% block body %}
    <p>Bonjour {{ user.username }},</p>

    <p>Nous sommes ravis de vous compter parmi nos nouveaux membres !</p>

    <p>Merci de votre confiance en notre plateforme.</p>

    <p>Cordialement,<br>
    L'équipe de [Votre entreprise]</p>
{% endblock %}
